<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="https://em-content.zobj.net/source/emojidex/59/large-blue-circle_1f535.png" width="6%"> Pokedex 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Pokemon</ion-label>
          <ion-input [(ngModel)]="pokemonName"></ion-input>
        </ion-item>
        <ion-card *ngIf="pokemonNameResult">
          <img [src]="pokemonNameResult.sprites.front_default">
          <ion-card-header>
            <ion-card-title>{{ pokemonNameResult.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>ID: {{ pokemonNameResult.id }}</ion-card-content>
          <ion-card-content >Tipo: {{ pokemonNameResult.types[0].type.name }}</ion-card-content>
          <ion-card-content>LED: {{ getLedColor(pokemonNameResult.types[0].type.name) }}</ion-card-content>
        </ion-card>
        <ion-button (click)="getPokemonDataName(pokemonName)">Buscar</ion-button>  
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
